git+https://github.com/pytorch/ignite.git@7b71e5ba963297f003a28da8ea3fec27a9e4b44b
tensorflow==2.1
tabulate
tqdm
sentencepiece
onnx==1.5
onnxruntime
regex
cython
fairseq
fastapi
uvicorn
nltk
httpx
hydra-core
